@charset "utf-8";
/*css document by mac*/
form{margin:0}

body{margin:0;padding:0; height:auto}
img{border:0}
a{text-decoration:none;color:#000}
a:hover{text-decoration:none;color:#387bbc}
li{list-style:none}
ul{list-style:none}
*{font-size:13px}
input[type="text"]{width:100px;border:1px solid #d9d9d9}
input[type="button"]{width:100px;border:1px solid #d9d9d9}
select{width:100px}



/*==================系统字体全局控制===========================*/
td,input,th,select,textarea {
	font-size: 12px;
	color: #003366;
	font-family:仿宋体,Tahoma;
}

th{
	font-weight: bold;
	text-align : center;
	align: middle;
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#bfe1f2,gradientType=0);
}

a{
  color: #0000ff;
  text-decoration:none;
  cursor:hand;
}
a:hover {
  color: #FF0000;
}

.tableTitle{
	text-align:left;
	font-weight: bold;
}
.tableInfo{
	text-align:left;
}
.tableData{
	text-align:left;
	background-color: #cccccc;
	font-family:Arial;
	border:1px solid #c1c1c1; /* 表格边框 */
	font-size:15px;
	border-collapse:collapse; /* 边框重叠 */
}
.tableData th{
	border:1px solid #c1c1c1; /* 行名称边框 */
	
	font-weight:bold;
	padding-top:4px; padding-bottom:4px;
	padding-left:12px; padding-right:12px;
	text-align:center;
}
.tableData td{
	border:1px solid #c1c1c1; /* 单元格边框 */
	text-align:center;
	padding-top:4px; padding-bottom:4px;
	padding-left:10px; padding-right:10px;
}
.tableSysData{
	text-align:center;
	background-color: #cccccc;
}

#zindexDiv{
/* div弹出层IE6下无法遮盖select的问题*/
position:absolute;
z-index:50;
width:expression(this.nextSibling.offsetWidth);
height:expression(this.nextSibling.offsetHeight);
top:expression(this.nextSibling.offsetTop);
left:expression(this.nextSibling.offsetLeft);
}
